/* CSS declarations go here */
div.grid{
    float: left;
    width: 30%;
    margin: 30px;
}
form.approve input{
    margin: 2px;
}
div.popup{
    position: absolute;
    z-index: 100500;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    width: 400px;
    height: auto;
    display: none;
    margin-bottom: 50px;
    /*background-color: whitesmoke;*/
    /*border-radius: 5px 5px 5px 5px;*/
    /*box-shadow: 0 0 10px grey;*/
    /*padding: 20px;*/
}
div.greyout{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: grey;
    opacity: 0.4;
    display: none;
    z-index: 100350;
}
.floatRight{
    float: right;
}
.total{
    font-size: 20px;
    margin-bottom: 50px;
}