<template name="listPage">
    <nav class="navbar navbar-default hidden-print">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">HouseStock</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/list/">Shopping list<span class="sr-only">(current)</span></a></li>
                    <li><a href="/stock/">Stock<span class="sr-only">(current)</span></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="row hidden-print">
                    <div class="col-md-12">
                        <h3>Добавить товар в список покупок</h3>
                        {{>addListItems}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <h2>Список покупок:</h2>
                        {{>listItems}}
                        <!--<span class="label label-primary total floatRight">Total price = {{total}}</span>-->
                    </div>
                    <div class="col-md-3">
                        <h2>У вас уже имеются:</h2>

                        <ul class="list-group">
                            {{#each stockItems}}
                                <li class="list-group-item">
                                    {{#if value.hasWeight}}
                                        {{value.weight}} kg
                                    {{/if}}
                                    {{#unless value.hasWeight}}
                                        {{value.amount}}
                                    {{/unless}}
                                    of {{value.name}}{{#if value.units}}, pack of {{value.units}}{{/if}}.
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="greyout"></div>
    </div>


</template>
<template name="addListItems">
    <form class="addToList">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Имя</th>
                <th>Количество в пачке</th>
                <th>Категория</th>
                <th>
                    <label>
                        <input type="checkbox" name="weight" id="weight" title="weight"/>
                        Вес (нажать, если товар развесной)
                    </label>
                    <br>
                    Количество пачек
                </th>
                <th>Add to List</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <input type="text" name="name" required id="name" class="form-control"  placeholder="product name" value="{{value.name}}" />
                </td>
                <td>
                    <input type="number" name="units" id="units" class="form-control" step="0.001" placeholder="units or weight in kilos" value="{{value.units}}" />
                </td>
                <td>
                    <input type="text" name="category" id="category" class="form-control" placeholder="product Category" value="{{value.category}}" />
                </td>
                <td>
                    <input type="number" step="0.001" min="0" name="amount" id="amount" placeholder="How many?" class="form-control" />
                </td>
                <td>
                    <button class="btn btn-primary" type="submit">Add to list</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</template>

<template name="listItems">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Категория</th>
            <th>Имя</th>
            <th>Любимые Бренды</th>
            <th>Не брать эти Бренды</th>
            <!--<th>Shop</th>-->
            <!--<th>Price per Unit/Kilo</th>-->
            <th>Количество / Вес</th>
            <!--<th>Price</th>-->
            <th class="hidden-print">В Сток</th>
            <th class="hidden-print">Удалить</th>
        </tr>
        </thead>
        <tbody>
        {{#each items}}
            <tr>
                <td>{{category}}</td>
                <td>{{name}}{{#if units}}, {{units}}{{/if}}</td>
                <td><p class="bg-success">{{likedBrands}}</p></td>
                <td><p class="bg-danger">{{dislikedBrands}}</p></td>
                <!--<td>{{pricePerUnit}} zl</td>-->
                <td>x {{#if weight}} {{weight}} kg{{/if}}{{#unless weight}}{{amount}}{{/unless}}</td>
                <!--<td>{{price}}</td>-->
                <td class="hidden-print"><button class="btn btn-default transferToStock" ><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></button></td>
                <td class="hidden-print"><button class="btn btn-default remove"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    {{#each items}}
        <div class="panel panel-default popup toStock" id="{{_id}}">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body row">
                <div class="col-md-12">
                    <form class="transferToStockSubmit">
                        <div class="form-group">
                            <label for="name">Имя продукта</label>
                            <input type="text" name="name" required id="name" class="form-control"  placeholder="product name" value="{{name}}" />
                        </div>
                        <div class="form-group">
                            <label for="pricePerUnit">Цена за Пачку\Кг</label>
                            <input type="number" name="pricePerUnit" id="pricePerUnit" class="form-control" step="0.01" placeholder="price per unit" value="{{pricePerUnit}}" />
                        </div>
                        <div class="form-group">
                            <label for="category">Категория</label>
                            <input type="text" name="category" id="category" class="form-control" placeholder="product Category" value="{{category}}" />
                        </div>
                        <div class="form-group">
                            <label for="weight">Вес покупки (если товар развесной)</label>
                            <input type="number" step="0.001" name="weight" id="weight" class="form-control"  value="{{weight}}" />
                        </div>
                        <div class="form-group">
                            <label for="units">Единиц в пачке (если товар не развесной)</label>
                            <input type="number" name="units" id="units" class="form-control" step="0.001" placeholder="units or weight in kilos" value="{{units}}" />
                        </div>
                        <div class="form-group">
                            <label for="brand">Бренд</label>
                            <input type="text" name="brand" id="brand" class="form-control" placeholder="product Brand" value="{{brand}}"/>
                        </div>
                        <div class="form-group">
                            <label for="shop">Магазин где купили продукт</label>
                            <input type="text" name="shop" id="shop" class="form-control" placeholder="Shop product bought in" value="{{shop}}" />
                        </div>
                        <div class="form-group">
                            <label for="expire">Когда истечет срок годности?</label>
                            <input type="date" name="expire" id="expire" class="form-control"  value="{{expire}}" />
                        </div>
                        <div class="form-group {{#if weight}}hidden{{/if}}">
                            <label for="amount">Количество</label>
                            <input type="number" name="amount" required id="amount" class="form-control"  placeholder="product name" value="{{amount}}" />
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="like" id="like" title="like" checked="{{like}}" />
                                Вам нравится этот товар?
                            </label>
                        </div>
                        <!--<div class="checkbox">-->
                            <!--<label>-->
                                <!--<input type="checkbox" name="hasWeight" id="hasWeight" title="Weight" checked="{{hasWeight}}">-->
                                <!--Does this a bulk product?-->
                            <!--</label>-->
                        <!--</div>-->
                        <button class="btn btn-warning" id="toStockCancel" type="button">Отмена</button>
                        <button type="submit" class="btn btn-primary floatRight">Перенести в Сток</button>
                    </form>
                </div>
                <!--<div class="col-md-8">-->
                    <!--{{>productItems}}-->
                <!--</div>-->
            </div>
        </div>
    {{/each}}

</template>